
@font-face {
    font-family: 'Hauss';
    src: url("fonts/ALS_Hauss_Next_VF.ttf") format('truetype');
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    height:100%;
    overflow:hidden;
}

.boxBase {
    touch-action: none;
    position: absolute;
}

.boxEmptyContainer {}

.boxFullContainer {}

.catContainer {}

.boxEmpty {
    width: 249px;
    height: 126px;
    background-image: url("/static/images/empty_box.png");
}

.boxCat {
    width: 249px;
    height: 190px;
    background-image: url("/static/images/cat_box.png");
}

.boxOzon {
    width: 249px;
    height: 195px;
    background-image: url("/static/images/ozon_box.png");
}

.boxWild {
    width: 249px;
    height: 189px;
    background-image: url("/static/images/wild_box.png");
}

.boxFruit {
    width: 215px;
    height: 159px;
    background-image: url("/static/images/fruit_box.png");
}

.boxVeg {
    width: 207px;
    height: 182px;
    background-image: url("/static/images/veg_box.png");
}

.boxEats {
    width: 259px;
    height: 198px;
    background-image: url("/static/images/eats_box.png");
}

.scoreCounter {
    pointer-events:none;
    width: 226px;
    display: block;
    border: none;
    position: absolute;
    color: #ffffff;
    top: 37px;
    left: 155px;
    text-align: center;
    font-size: 73px;
    font-weight: 720;
    font-family: 'Hauss';
}

.scoreBox {
    width: 92px;
    height: 48px;
    background-image: url("/static/images/counter_box.png");
    display: block;
    position: absolute;
    top: 58px;
    left: 85px;
}

.catHiElement {
    width: 318px;
    height: 290px;
    background-image: url("/static/images/cat_hi.png");
    display: block;
    position: absolute;
    top: 790px;
    left: 1602px;
    animation: catHiElementAnimation 2s linear forwards;
}

@keyframes catHiElementAnimation {
    0% {
        transform: translate(318px, 0px);
    }
    10% {
        transform: translate(0px, 0px);
    }
    90% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(318px, 0px);
    }
}

.complimentContainer {
    width: 100%;
    height: 50px;
    position: absolute;
    display: flex;
	justify-content: center;
	align-items: center;
}

.complimentText {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Hauss';
}

.complimentElement {
    z-index: 100;
    height: 120px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
	align-items: center;
    border: none;
    border-radius: 40px;
    position: absolute;
    background-color: #FFFFFF;
    animation: complimentAnimation 4s ease-out forwards;
}

@keyframes complimentAnimation {
    0% {
        transform: translate(0px, -100px);
    }
    10% {
        transform: translate(0px, 100px);
    }
    90% {
        transform: translate(0px, 100px);
    }
    100% {
        transform: translate(0px, -100px);
    }
}

.timeCounter {
    pointer-events:none;
    width: 267px;
    display: block;
    border: none;
    position: absolute;
    color: #ffffff;
    border-radius: 50px;
    background-color: #6337F3;
    top: 37px;
    left: 1571px;
    text-align: center;
    font-size: 73px;
    font-weight: 720;
    font-family: 'Hauss';
}

.textFullBox {
    pointer-events:none;
    width: 309px;
    display: block;
    border: none;
    position: absolute;
    color: #ffffff;
    top: 549px;
    left: 1561px;
    text-align: center;
    font-size: 73px;
    opacity: 0.4;
    font-weight: 720;
    font-family: 'Hauss';
}

.textEmptyBox {
    pointer-events:none;
    width: 267px;
    display: block;
    border: none;
    position: absolute;
    color: #ffffff;
    top: 549px;
    left: 50px;
    text-align: center;
    font-size: 73px;
    opacity: 0.4;
    font-weight: 720;
    font-family: 'Hauss';
}

.timeIsUpScreen {
    pointer-events:none;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.timeIsUpText {
    pointer-events:none;
    width: 536px;
    display: block;
    position: absolute;
    color: #ffffff;
    left: 692px;
    top: 503px;
    text-align: center;
    font-size: 73px;
    font-weight: 720;
    font-family: 'Hauss';
    opacity:0;

    animation: timeIsUpTextShow 0.4s ease-out 0.5s 1 normal forwards;
}

@keyframes timeIsUpTextShow {
    0% {
        transform:scale(0);
        opacity:0;
    }
    100% {
        transform:scale(1);
        opacity:1;
    }
}

.timeIsUpBox {
    width: 739px;
    height: 266px;
    background-image: url("/static/images/result_box.png");
    display: block;
    position: absolute;
    top: 815px;
    left: 573px;
    z-index: 100;

    animation: timeIsUpBoxShow 0.5s ease-out 0s 1 normal forwards;
}

@keyframes timeIsUpBoxShow {
    0% {
        transform:translateY(1000px);
        opacity:1;
    }
    100% {
        transform:translateY(0);
        opacity:1;
    }
}

.timeIsUpConfetti {
    width: 801px;
    height: 733px;
    background-image: url("/static/images/result_confetti.png");
    display: block;
    position: absolute;
    top: 196px;
    left: 530px;
    opacity:0;

    animation: timeIsUpTextConfetti 0.4s ease-out 0.5s 1 normal forwards;
}

@keyframes timeIsUpTextConfetti {
    0% {
        transform:scale(0);
        opacity:0;
    }
    100% {
        transform:scale(1);
        opacity:1;
    }
}

.counterToStart {
    display: block;
    border: none;
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 950px;
    z-index: 100;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-family: 'Hauss';
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.startScreen {
    background-image: url("/static/images/start_screen.gif");
    width: 100%;
    height: 100%;
}

.startButton {
    width: 722px;
    height: 184px;
    display: block;
    border: none;
    border-radius: 170px;
    position: absolute;
    background-color: #FFFFFF;
    top: 740px;
    left: 599px;
    text-align: center;
    font-size: 90px;
    font-weight: 720;
    font-family: 'Hauss';
}

.tutorialScreen {
    width: 100%;
    height: 100%;
    background-image: url("/static/images/tutorial.png");
}

.tutorialText {
    display: block;
    position: absolute;
    font-size: 50px;
    width: 1180px;
    height: 128px;
    text-align: center;
    top: 45px;
    left: 369px;
    color: #000000;
    font-weight: 720;
    font-family: 'Hauss';
}

.tutorialStartButton {
    width: 368px;
    height: 154px;
    display: block;
    border: none;
    border-radius: 170px;
    position: absolute;
    background-color: #63C879;
    color: #ffffff;
    top: 839px;
    left: 757px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Hauss';
}

.tutorialBoxLeft {
    width: 249px;
    height: 126px;
    background-image: url("/static/images/empty_box.png");
    display: block;
    position: absolute;
    top: 577px;
    left: 516px;
    transition: all 0.5s ease;
    animation: tutorialBoxLeft 3s linear infinite;
}

@keyframes tutorialBoxLeft {
    to {
        transform: translate(-200px, 0px);
    }
}

.tutorialBoxRight {
    width: 249px;
    height: 190px;
    background-image: url("/static/images/cat_box.png");
    display: block;
    position: absolute;
    top: 512px;
    left: 1129px;
    transition: all 0.5s ease;
    animation: tutorialBoxRight 3s linear infinite;
}

@keyframes tutorialBoxRight {
  to {
    transform: translate(200px, 0px);
  }
}

.resultScoreText {
    width: 336px;
    display: block;
    position: absolute;
    top: 225px;
    left: 792px;
    text-align: center;
    color: #6337F3;
    font-size: 140px;
    font-weight: 850;
    font-family: 'Hauss';
    animation: resultScoreAnimation 3s linear infinite;
}

@keyframes resultScoreAnimation {
    0% {
        transform:scale(0.9);
    }
    50% {
        transform:scale(1.2);
    }
    100% {
        transform:scale(0.9);
    }
}

.resultTryText {
    width: 1006px;
    height: 73px;
    display: block;
    position: absolute;
    top: 92px;
    left: 457px;
    text-align: center;
    color: #000000;
    font-size: 60px;
    font-weight: 720;
    font-family: 'Hauss';
}

.toStartScreenTimeCounter {
    width: 800px;
    height: 40px;
    display: block;
    position: absolute;
    top: 875px;
    left: 560px;
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Hauss';
}

.resultScreenStartGameButton {
    width: 510px;
    height: 126px;
    display: block;
    border: none;
    border-radius: 138px;
    position: absolute;
    background-color: #6337F3;
    color: #ffffff;
    top: 905px;
    left: 705px;
    text-align: center;
    font-size: 60px;
    font-weight: 720;
    font-family: 'Hauss';
}

.resultScreenQR {
    width: 456px;
    height: 456px;
    display: block;
    position: absolute;
    top: 400px;
    left: 996px;
}

.resultScreenHint {
    width: 538px;
    height: 150px;
    display: block;
    border: none;
    position: absolute;
    top: 442px;
    left: 471px;
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Hauss';
}

.resultScreenArrow {
    width: 255px;
    height: 87px;
    background-image: url("/static/images/result_arrow.png");
    display: block;
    position: absolute;
    top: 600px;
    left: 720px;
}

.resultScreenClose {
    width: 50px;
    height: 50px;
    background-image: url("/static/images/result_close.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50px;
    left: 1850px;
}