
@font-face {
    font-family: 'Hauss';
    src: url("fonts/ALS_Hauss_Next_VF.ttf") format('truetype');
}

.holeContainer {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    min-width: 320px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.descText {
    display: block;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Hauss';
}

.scoreText {
    display: block;
    margin-bottom: 6rem;
    width: 100%;
    text-align: center;
    font-size: 10rem;
    font-weight: 700;
    font-family: 'Hauss';
}

.formSettings {
    max-width: 900px;
    width: 100%;
}

.inputBase {
    display: block;
    width: 100%;
    height: calc(10rem + 2px);
    max-width: 772px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 4rem;
    border: none;
    border-radius: 2rem;
    background-color: #E9E9E9;
    text-align: left;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Hauss';
    line-height: 1.5;
}

.checkboxAgreement {
    display: block;
    width: calc(4rem + 2px);
    height: calc(4rem + 2px);
    margin-right: 4rem;
}

.containerAgreement {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
}

.textAgreement {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Hauss';
}

.buttonSubmit {
    display: block;
    width: 100%;
    height: calc(10rem + 2px);
    border: none;
    border-radius: 4rem;
    background-color: #6337F3;
    text-align: center;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Hauss';
    line-height: 1.5;
}
