
{% load static %}

<html lang='en-US'>
  <head>
    <link rel="stylesheet" href="{% static 'css/game_style.css' %}"/>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js">
    </script>
    <meta charset='utf-8' name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>BoxGame</title>
  </head>
  <body>
    <audio id="gameplayMusic" src="{% static 'sounds/bit.wav' %}" loop="loop"></audio>
    {% csrf_token %}
  </body>
  <script>
      const TOKEN = '{{csrf_token}}'
  </script>
  <script src="{% static 'js/game.js' %}"></script>
</html>