
{% load static %}
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="{% static "css/game_style.css" %}" />
    <title>BoxGame</title>

    <style>


    </style>
  </head>
  <body>
    <script>

      var score = 0;

      var dragObject = {};

      document.onmousedown = function(e) {

        if (e.which != 1) {
          return;
        }

        var elem = e.target.closest('.draggable');

        if (!elem) return;

        dragObject.elem = elem;

        dragObject.downX = e.pageX;
        dragObject.downY = e.pageY;
      }


      function startDrag(e) {
        var avatar = dragObject.avatar;

        document.body.appendChild(avatar);
        avatar.style.zIndex = 9999;
      }


      function createAvatar(e) {

        var avatar = dragObject.elem;
        var old = {
          parent: avatar.parentNode,
          nextSibling: avatar.nextSibling,
          position: avatar.position || '',
          left: avatar.left || '',
          top: avatar.top || '',
          zIndex: avatar.zIndex || ''
        };

        avatar.rollback = function() {
          old.parent.insertBefore(avatar, old.nextSibling);
          avatar.style.position = old.position;
          avatar.style.left = old.left;
          avatar.style.top = old.top;
          avatar.style.zIndex = old.zIndex
        };

        return avatar;
      }


      document.onmousemove = function(e) {
        if (!dragObject.elem) return;

        if ( !dragObject.avatar ) {
          var moveX = e.pageX - dragObject.downX;
          var moveY = e.pageY - dragObject.downY;
          if ( Math.abs(moveX) < 3 && Math.abs(moveY) < 3 ) {
            return;
          }

          dragObject.avatar = createAvatar(e);
          if (!dragObject.avatar) {
            dragObject = {};
            return;
          }

          var coords = dragObject.avatar.getBoundingClientRect();
          dragObject.shiftX = dragObject.downX - coords.left;
          dragObject.shiftY = dragObject.downY - coords.top;

          startDrag(e);
        }
        dragObject.avatar.style.left = Math.min(e.pageX - dragObject.shiftX, document.body.clientWidth - 100) + 'px';
        dragObject.avatar.style.top = Math.min(e.pageY - dragObject.shiftY, document.body.clientHeight - 50) + 'px';

        return false;
      }

      document.onmouseup = function(e) {
        if (dragObject.avatar) {
          finishDrag(e);
        }
        dragObject = {};
      }


      function finishDrag(e) {
        var dropElem = findDroppable(e);

        isRedBox = dragObject.avatar.classList.contains('boxRed');
        console.log(dragObject.avatar)
        console.log(dragObject.avatar)
        

        if (dropElem) {
          console.log(dropElem)
          if (isRedBox && dropElem.classList.contains('redBoxZone'))
          {
            score += 5;
            document.getElementsByClassName("score")[0].innerHTML = 'Score is: ' + score;
            dragObject.avatar.remove();
            currentBoxCount -= 1;
            return
          }
          if (!isRedBox && dropElem.classList.contains('greenBoxZone'))
          {
            score += 5;
            document.getElementsByClassName("score")[0].innerHTML = 'Score is: ' + score;
            dragObject.avatar.remove();
            currentBoxCount -= 1;
            return
          }
        }
      }


      function findDroppable(event) {

        if (event.clientX < 150) return document.getElementsByClassName("redBoxZone")[0]

        if (event.clientX > (document.body.clientWidth - 150)) return document.getElementsByClassName("greenBoxZone")[0]

      }


    </script>


    <script>

        MAX_BOX_COUNT = 4
        currentBoxCount = 0
        boxSpeed = 150

        isSpawnActive = false

        var lastUpdate = Date.now();

        let redBoxZone = document.createElement('div');
        redBoxZone.classList.add("redBoxZone");
        redBoxZone.classList.add("droppable");
        redBoxZone.style.width = 150 + 'px';
        redBoxZone.style.height = document.body.clientHeight + 'px';

        document.body.append(redBoxZone);

        let greenBoxZone = document.createElement('div');
        greenBoxZone.classList.add("greenBoxZone");
        greenBoxZone.classList.add("droppable");
        greenBoxZone.style.width = 150 + 'px';
        greenBoxZone.style.height = document.body.clientHeight + 'px';
        greenBoxZone.style.left = (document.body.clientWidth - 150) + 'px';

        document.body.append(greenBoxZone);


        let scoreCounter = document.createElement('div');
        scoreCounter.classList.add("score");
        scoreCounter.classList.add("noselect");
        scoreCounter.style.position = 'absolute';
        scoreCounter.style.left = (document.body.clientWidth / 2) + 'px';
        scoreCounter.innerHTML = 'Score is: 0';

        document.body.append(scoreCounter);


        setInterval(onTimerTick, 16);

        function trySpawnBox() {
            if ( Math.floor(Math.random() * MAX_BOX_COUNT) >= currentBoxCount)
            {
                let boxElement = document.createElement('div');
                boxElement.classList.add("boxBase");
                boxElement.classList.add("draggable");

                if (Boolean(Math.round(Math.random())))
                {
                    boxElement.classList.add("boxRed");
                }
                else
                {
                    boxElement.classList.add("boxGreen");
                }

                

                boxElement.style.left = (document.body.clientWidth / 3 + (150 * currentBoxCount)) + 'px';
                currentBoxCount += 1;


                document.body.append(boxElement);
            }
            isSpawnActive = false;
        }

        function moveBoxes(dt) {

          toDelete = []

          const collection = document.getElementsByClassName("boxBase");
          for (let i = 0; i < collection.length; i++) {
              currentBox = collection[i];

              if ( currentBox == dragObject.avatar ) continue;

              currentY = currentBox.getBoundingClientRect().top

              newY = currentY + boxSpeed * dt / 1000;
              
              if (newY + 50 > document.body.clientHeight) {
                  toDelete.push(currentBox)
              }
              
              currentBox.style.top = newY
          }

          for (let i = 0; i < toDelete.length; i++) {
              currentBox = toDelete[i].remove();
              currentBoxCount -= 1;
          }

        }

        function onTimerTick() {

            var currentTime = Date.now();
            var dt = currentTime - lastUpdate;
            lastUpdate = currentTime;

            if (!isSpawnActive && currentBoxCount != MAX_BOX_COUNT)
            {
                setTimeout(trySpawnBox, 1000);
                isSpawnActive = true;
            }

            moveBoxes(dt);
        }
    </script>
  </body>
</html>