<!DOCTYPE html>
<html lang='en-US'>

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Score Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}"/>
</head>
<body>
    <div class="holeContainer">
        <div class="descText">Ваш результат:</div>
        <div class="scoreText">{{ score }}</div>
        <form class="formSettings" action="/registerData" method="POST">
            {% csrf_token %}
            <input type="hidden" name="score" value={{ score }}>
            <input class="inputBase" required type="tel" name="phone" placeholder="Телефон" autocomplete="on" pattern="\+7\s?{0,1}9[0-9]{2}{0,1}\s?\d{3}{0,1}\d{2}{0,1}\d{2}">
            <input class="inputBase" required type="email" name="email" placeholder="Эл. почта" autocomplete="on">
            <input class="inputBase" required type="text" name="fullName" placeholder="ФИО" autocomplete="on">
            <input class="inputBase" required type="text" name="company" placeholder="Компания" autocomplete="on">
            <input class="inputBase" required type="text" name="position" placeholder="Должность" autocomplete="on">
            <div class="containerAgreement">
                <input class="checkboxAgreement" required type="checkbox" name="agreement">
                <a class="textAgreement" href="https://l-pak.ru/uploads/files/document/6825b13f1d146.pdf" target="_blank">Даю согласие на обработку данных</a>
            </div>
            <button class="buttonSubmit" type='submit'>Отправить</button>
        </form>
    </div>
</body>
<script src="{% static 'js/register.js' %}"></script>
</html>